:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-type-button {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.picture-card {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;

  cursor: pointer;

  img {
    object-fit: none;
  }
}


.text-card {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  width: 6em;

  cursor: pointer;
}

.text-card.hidden {
  background-color: #f677e3;
}

.text-card.open {
  background-color: #2d4ce8;

}

.text-card.solved {
  background-color: #42b983;
}